@using Pcm.WebUi.Models
<MudAutocomplete T="ItemCategory"
                 Value="ItemCategory" ValueChanged="OnValueChanged"
                 ResetValueOnEmptyText="true"
                 Label="@Localization.itemCategory"
                 SearchFunc="@SearchAutocomplete"
                 ToStringFunc="x => x.Name"
                 Required="Required">
    <ItemTemplate>
        <div class="itemTemplate">
            <div class="itemContainerText">
                <MudText Typo="Typo.body1">@context.Name</MudText>
            </div>
        </div>
    </ItemTemplate>
</MudAutocomplete>