@using Pcm.Application.Models
<MudAutocomplete T="Training"
                 Value="Training" ValueChanged="OnValueChanged"
                 Label="@Localization.training"
                 SearchFunc="@SearchAutocomplete" ResetValueOnEmptyText="true"
                 ToStringFunc="x => x.Name"
                 Required="Required">
    <ItemTemplate>
        <div class="itemTemplate">
            <div class="itemContainerText">
                <MudText Typo="Typo.body1">@context.Name</MudText>
                <MudText Typo="Typo.body2">@context.Type</MudText>
            </div>
        </div>
    </ItemTemplate>
</MudAutocomplete>