@page "/"


<ArticleList/>
<NewArticle/>


<div style="display:flex; width: fit-content; ">
    <div>
        <MudText Typo="Typo.body1">Name</MudText>
        <MudText Typo="Typo.body2">Manufacturer</MudText>
    </div>
    <div style="padding-left:10px; margin: auto;">
        <MudIcon Icon="@Icons.Filled.Edit" Size="Size.Small" Style="horiz-align: right; "/>
    </div>
</div>