@page "/"


<ArticleList/>
<NewArticle/>


<div>
    <div style="display: inline-block">
        <MudText Typo="Typo.body1">Name</MudText>
        <MudText Typo="Typo.body2">Manufacturer</MudText>
    </div>
    <div style="display: inline-block; height: available;">
        <MudIcon Icon="@Icons.Filled.Edit" Size="Size.Small" Style="horiz-align: right; "/>
    </div>
</div>